img.me {
  height: 25em;
  width: 25em;
  object-fit: cover;

  box-shadow: 0.75em 0.75em var(--primary-color);
}

p.scroll {
  color: var(--text-color-secondary);
}

div.social {
  a > img {
    width: 1.5em;
  }
}
