div.cloud {
  position: absolute;

  div.card {
    position: relative;

    background-color: black;
    box-shadow: 0.2em 0.2em var(--primary-color);
    max-width: 15em;

    div.content {
      padding: 0.25em 1.75em 0.25em 0.75em;
    }

    img {
      position: absolute;
      right: -1.5em;
      top: -1.5em;

      width: 3em;
    }
  }
}
